.App {
  text-align: center;
  width: 50%;
  
  transform: translate(50%, 0);
  
}

.App-header {
  background-color: #282c34;
  border: 15px solid #666;
  border-top: none;
  border-bottom: none;
  min-height: 100vh;
  color: rgb(97, 218, 249);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }  
}  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.tester{
  width: 200px;
  height: 20px;
  position: absolute;
  top: 170px;
  left: 20px;
}